/* importing google font */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');


*{
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body{
  display: flex;
  width: 97vw;
  height: 46.875rem;
  background-color: #e1c8d9;
  /* position: relative; */
  text-align: center;
  background-image: url(background-img.png);
  align-items: center;
  justify-content: center;
}

h1{
  position: absolute;
  top: 0.3125rem;
  bottom: 68.5rem;
  right: 26.2203rem;
  left: 26.2203rem;
  font-size: 3rem;
  font-family: "Bungee Spice", sans-serif;
  font-weight: 300;
  font-style: normal;
  text-decoration: underline #D53500;
}

.gameArea{
  position: relative;
  width: 37.5rem;
  height: 37.5rem;
   top: 10%;
  /*left: 15%;
  right: 15%;
  bottom: 10%; */
  /* margin: 1.8% 27.3% 12.8% 27.3%; */
  /* gap: 0px; */
  /* opacity: 0px;   */
  border: 3px solid black;
  border-radius: 2.5em;
    background-color: #987D9A;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board{
  /* position: absolute; */
  background-color: #ddc2d5;
  /* margin: 48.5px 75.5px; */
  padding: 15px;
  width: 85%;
  height: 85%;
  border-radius: 2.5em;
  /* top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%; */
  /* transform: translate(35px, 35px); */
  /* align-items: center; */

  display: grid;
  grid-template: repeat(3, 168px) / repeat(3, 168px);
  grid-column: 168px;
  
}

.cells{
  margin: 2px;
  border-radius: 5px;
  padding: 25px;
  background-color: #ffffeb;
  }

.cells:hover{
  background-color: #f5eaf8;  
}